.bd-subnavbar {
    position: relative;
    z-index: 1020;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.bd-search {
    position: relative;
}